In [194]:
#Parameters
g_output_category="Food"
g_output_calendar="month"

In [195]:
from graphviz import Digraph
import pandas as pd
g_Cat_Tree={} # child to parent mapping

allCategories_DF = pd.read_csv("Data/categories.csv")
G = Digraph()

for i in range(0, len(allCategories_DF)):
    G.edge(allCategories_DF["Parent"].iloc[i],allCategories_DF["Child"].iloc[i])
    g_Cat_Tree[allCategories_DF["Child"].iloc[i]]=allCategories_DF["Parent"].iloc[i]

G.render('bin/Categories.gv', view=True)

'bin/Categories.gv.pdf'

In [196]:
import pandas as pd
import numpy as np

def getLevel(node, target, thisTree):
    level = 0
    try:
        while(node!=target):
            node = thisTree[node]
            level += 1
        return level;
    except:
        return -1
    
def getCategory(storeName, minLen):
    try:
        candidates_DF = g_allLocations.loc[storeName[:minLen]]
        shortListCandidatesSeries = []
        if (type(candidates_DF) is pd.Series):
            shortListCandidatesSeries.append(candidates_DF)
        else:
            for i in range(len(candidates_DF)):
                shortListCandidatesSeries.append(candidates_DF.iloc[i])
        
        for candidate in shortListCandidatesSeries:
            if (storeName.startswith(candidate.loc["Substring"])):
                return candidate["Category"]
        return "Invalid Transaction"
    except:
        return "Invalid Transaction"

# Load the data and some useful global variables
g_allLocations = pd.read_csv("Data/locations.csv")
g_allLocations_min_len = min([len(x) for x in g_allLocations["Substring"] ])
g_allLocations["FirstLetters"] = g_allLocations["Substring"].apply(lambda x:  x[:g_allLocations_min_len])
g_allLocations.set_index("FirstLetters" , inplace=True)

allTransactions = pd.read_csv("Data/2018.csv", quotechar='"', header=None, names=['Date','Store','Payed','Received',"CC"])
allTransactions['Payed']=pd.to_numeric(allTransactions['Payed'])

allTransactions["Category"] = allTransactions["Store"].apply(lambda x: getCategory(x, g_allLocations_min_len))
allTransactions["IncludeTransaction"] = allTransactions["Category"].apply(lambda x: getLevel(x,g_output_category, g_Cat_Tree))


relevantTransactions = allTransactions[allTransactions["IncludeTransaction"]>=0]

if g_output_calendar=='week':
    relevantTransactions["Class"]=pd.to_datetime(relevantTransactions["Date"]).apply(lambda x: x.date().isocalendar()[0:2])
elif g_output_calendar=='month':
    relevantTransactions["Class"]=pd.to_datetime(relevantTransactions["Date"]).apply(lambda x: (x.date().year,x.date().month))
elif g_output_calendar=='year':
    relevantTransactions["Class"]=pd.to_datetime(relevantTransactions["Date"]).apply(lambda x: x.date().year)

relevantTransactions.groupby(["Class", "Category"]).agg({"Payed":sum,"Received":sum})

C:\Users\Voicu\Anaconda3\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                      Payed  Received
Class      Category
(2017, 3)  Food      215.19       NaN
(2017, 4)  Food      318.18       NaN
(2017, 5)  Food      431.97       NaN
(2017, 6)  Food      171.52       NaN
(2017, 7)  Food      432.21       NaN
(2017, 8)  Food      346.28       NaN
(2017, 9)  Food      398.98       NaN
(2017, 10) Food      229.18       NaN
(2017, 11) Food      306.35       NaN
(2017, 12) Food      162.58       NaN
(2018, 1)  Food      582.35       NaN
(2018, 2)  Food      266.75       NaN
(2018, 3)  Food      294.35       NaN
(2018, 4)  Food      222.42       NaN

In [197]:
relevantTransactions

,Date,Store,Payed,Received,CC,Category,IncludeTransaction,Class
1,2018-04-17,"WHOLE FOODS MARKET OTTAWA, ON",2.09,NaN,4500********1255,Food,0,"(2018, 4)"
2,2018-04-17,"WHOLE FOODS MARKET OTTAWA, ON",13.98,NaN,4500********1255,Food,0,"(2018, 4)"
3,2018-04-16,"WHOLE FOODS MARKET OTTAWA, ON",47.89,NaN,4500********1255,Food,0,"(2018, 4)"
5,2018-04-16,"WHOLE FOODS MARKET OTTAWA, ON",6.49,NaN,4500********1255,Food,0,"(2018, 4)"
10,2018-04-13,"FARM BOY #77 OTTAWA, ON",11.25,NaN,4500********1255,Food,0,"(2018, 4)"
16,2018-04-12,"FARM BOY #77 OTTAWA, ON",5.82,NaN,4500********1255,Food,0,"(2018, 4)"
17,2018-04-12,"WHOLE FOODS MARKET OTTAWA, ON",4.99,NaN,4500********1255,Food,0,"(2018, 4)"
21,2018-04-11,"WHOLE FOODS MARKET OTTAWA, ON",8.74,NaN,4500********1255,Food,0,"(2018, 4)"
26,2018-04-10,"FARM BOY #77 OTTAWA, ON",11.98,NaN,4500********1255,Food,0,"(2018, 4)"
27,2018-04-09,"WHOLE FOODS MARKET OTTAWA, ON",11.29,NaN,4500********1255,Food,0,"(2018, 4)"
28,2018-04-09,"WHOLE FOODS MARKET OTTAWA, ON",4.20,NaN,4500********1255,Food,0,"(2018, 4)"
38,2018-04-05,"FARM BOY #77 OTTAWA, ON",74.19,NaN,4500********1255,Food,0,"(2018, 4)"
42,2018-04-03,"YUMMY MARKET - MAPLE MAPLE, ON",3.99,NaN,4500********1255,Food,0,"(2018, 4)"
46,2018-04-02,"YUMMY MARKET - MAPLE MAPLE, ON",6.76,NaN,4500********1255,Food,0,"(2018, 4)"
47,2018-04-02,"YUMMY MARKET - MAPLE MAPLE, ON",2.02,NaN,4500********1255,Food,0,"(2018, 4)"
48,2018-04-02,"WHOLE FOODS MARKET OTTAWA, ON",6.74,NaN,4500********1255,Food,0,"(2018, 4)"
49,2018-03-29,"FARM BOY #77 OTTAWA, ON",1.38,NaN,4500********1255,Food,0,"(2018, 3)"
51,2018-03-29,"FARM BOY #77 OTTAWA, ON",11.26,NaN,4500********1255,Food,0,"(2018, 3)"
55,2018-03-27,"WHOLE FOODS MARKET OTTAWA, ON",9.98,NaN,4500********1255,Food,0,"(2018, 3)"
58,2018-03-26,"WHOLE FOODS MARKET OTTAWA, ON",3.68,NaN,4500********1255,Food,0,"(2018, 3)"
60,2018-03-26,"WHOLE FOODS MARKET OTTAWA, ON",9.04,NaN,4500********1255,Food,0,"(2018, 3)"
61,2018-03-26,"WHOLE FOODS MARKET OTTAWA, ON",28.78,NaN,4500********1255,Food,0,"(2018, 3)"
64,2018-03-23,"FARM BOY #77 OTTAWA, ON",3.49,NaN,4500********1255,Food,0,"(2018, 3)"
65,2018-03-23,"FARM BOY #77 OTTAWA, ON",6.19,NaN,4500********1255,Food,0,"(2018, 3)"
67,2018-03-21,"FARM BOY #77 OTTAWA, ON",6.43,NaN,4500********1255,Food,0,"(2018, 3)"
68,2018-03-20,"FARM BOY #77 OTTAWA, ON",43.49,NaN,4500********1255,Food,0,"(2018, 3)"
76,2018-03-19,"FARM BOY #77 OTTAWA, ON",24.29,NaN,4500********1255,Food,0,"(2018, 3)"
82,2018-03-16,"WHOLE FOODS MARKET OTTAWA, ON",44.05,NaN,4500********1255,Food,0,"(2018, 3)"
91,2018-03-13,"FARM BOY #30 OTTAWA, ON",23.90,NaN,4500********1255,Food,0,"(2018, 3)"
94,2018-03-12,"WHOLE FOODS MARKET OTTAWA, ON",7.07,NaN,4500********1255,Food,0,"(2018, 3)"
...,...,...,...,...,...,...,...,...
1046,2017-04-03,"FARM BOY #30 OTTAWA, ON",5.98,NaN,4500********1255,Food,0,"(2017, 4)"
1047,2017-04-03,"WHOLE FOODS MARKET OTTAWA, ON",33.92,NaN,4500********1255,Food,0,"(2017, 4)"
1048,2017-04-03,"WHOLE FOODS MARKET OTTAWA, ON",4.19,NaN,4500********1255,Food,0,"(2017, 4)"
1049,2017-04-03,"WHOLE FOODS MARKET OTTAWA, ON",1.94,NaN,4500********1255,Food,0,"(2017, 4)"
1050,2017-04-03,"WHOLE FOODS MARKET OTTAWA, ON",3.68,NaN,4500********1255,Food,0,"(2017, 4)"
1052,2017-04-03,"WHOLE FOODS MARKET OTTAWA, ON",5.20,NaN,4500********1255,Food,0,"(2017, 4)"
1053,2017-04-03,"WHOLE FOODS MARKET OTTAWA, ON",3.68,NaN,4500********1255,Food,0,"(2017, 4)"
1056,2017-04-03,"FARM BOY #65 KANATA, ON",3.40,NaN,4500********1255,Food,0,"(2017, 4)"
1060,2017-03-31,"FARM BOY #65 KANATA, ON",22.97,NaN,4500********1255,Food,0,"(2017, 3)"
1061,2017-03-30,"WHOLE FOODS MARKET OTTAWA, ON",4.19,NaN,4500********1255,Food,0,"(2017, 3)"
1062,2017-03-30,"WHOLE FOODS MARKET OTTAWA, ON",5.17,NaN,4500********1255,Food,0,"(2017, 3)"
1063,2017-03-30,"WHOLE FOODS MARKET OTTAWA, ON",13.81,NaN,4500********1255,Food,0,"(2017, 3)"
1067,2017-03-29,"FARM BOY #65 KANATA, ON",3.99,NaN,4500********1255,Food,0,"(2017, 3)"
1068,2017-03-29,"FARM BOY #65 KANATA, ON",12.16,NaN,4500********1255,Food,0,"(2017, 3)"
1070,2017-03-28,"FARM BOY #65 KANATA, ON",11.04,NaN,4500********1255,Food,0,"(2017, 3)"
1073,2017-03-27,"WHOLE FOODS MARKET OTTAWA, ON",8.03,NaN,4500********1255,Food,0,"(2017, 3)"
1074,2017-03-27,"WHOLE FOODS MARKET OTTAWA, ON",3.68,NaN,4500********1255,Food,0,"(2017, 3)"
1077,2017-03-27,"FARM BOY #65 KANATA, ON",31.38,NaN,4500********1255,Food,0,"(2017, 3)"
1080,2017-03-24,"FARM BOY #65 KANATA, ON",3.99,NaN,4500********1255,Food,0,"(2017, 3)"
1081,2017-03-24,"FARM BOY #65 KANATA, ON",6.77,NaN,4500********1255,Food,0,"(2017, 3)"
1082,2017-03-24,"FARM BOY #65 KANATA, ON",3.99,NaN,4500********1255,Food,0,"(2017, 3)"
1083,2017-03-23,"FARM BOY #65 KANATA, ON",10.74,NaN,4500********1255,Food,0,"(2017, 3)"
1084,2017-03-23,"FARM BOY #65 KANATA, ON",5.55,NaN,4500********1255,Food,0,"(2017, 3)"
1088,2017-03-22,"FARM BOY #65 KANATA, ON",11.88,NaN,4500********1255,Food,0,"(2017, 3)"
1089,2017-03-22,"WHOLE FOODS MARKET OTTAWA, ON",12.46,NaN,4500********1255,Food,0,"(2017, 3)"
1092,2017-03-21,"FARM BOY #65 KANATA, ON",1.04,NaN,4500********1255,Food,0,"(2017, 3)"
1093,2017-03-20,"WHOLE FOODS MARKET OTTAWA, ON",3.98,NaN,4500********1255,Food,0,"(2017, 3)"
1096,2017-03-20,"WHOLE FOODS MARKET OTTAWA, ON",5.17,NaN,4500********1255,Food,0,"(2017, 3)"
1097,2017-03-20,"WHOLE FOODS MARKET OTTAWA, ON",3.56,NaN,4500********1255,Food,0,"(2017, 3)"
1099,2017-03-20,"FARM BOY #65 KANATA, ON",29.64,NaN,4500********1255,Food,0,"(2017, 3)"